.photos__grid {
  max-width: 99%;
  padding-top: 0;
 /*  margin: 0 auto; */
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: 1px;
  align-items: center;
  justify-items: center;
}
@media screen and (max-width: 1024px) {
  .photos {
    grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
  }
}
@media screen and (max-width: 918px) {
  .photos {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  }
}
@media screen and (max-width: 768px) {
  .photos {
    /* padding-top: 88px; */

  }
}
