.photos__title {
  width: 568px;
  margin-left: 10%;
  margin-top: 0;
  margin-bottom: 0;
  height: 80px;
  font-family: 'Neue Machina';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.01em;
  color: #242424;
}

@media screen and (max-width: 768px) {
  .photos__title {
    font-size: 28px;
    line-height: 32px;
  }
}
